<a href="https://colab.research.google.com/github/madhuselvaraj/workspace-python-pandas/blob/master/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **dataframe in pandas**

In [0]:
import pandas as pd

lists

In [0]:
data = [["stark",12],["lannister",32]]
d = pd.DataFrame(data,columns=["name","coins"])
print(d)

        name  coins
0      stark     12
1  lannister     32

dicts

In [0]:
data2 = {"name":["karstark","targerian"],"coins":[10,57]}
d2 = pd.DataFrame(data2,index = ["house1","house2"])
print(d2)

             name  coins
house1   karstark     10
house2  targerian     57

list of dicts

In [0]:
data_all = [{"karstark":10,"targerian":57,"stark":25},{"targerian":22,"lannister":75}]
d3= pd.DataFrame(data_all,index = ["1st year","2nd year"])
print(d3)

          karstark  lannister  stark  targerian
1st year      10.0        NaN   25.0         57
2nd year       NaN       75.0    NaN         22

In [0]:
data4 = {"sd":[1,2],"asd":[10,20]} #dicts
data3 = [[1,10],[2,20]]#lists
print(pd.DataFrame(data3,index = ["1st","2nd"],columns = ["sd","asd"]))
print(pd.DataFrame(data4))

     sd  asd
1st   1   10
2nd   2   20
   sd  asd
0   1   10
1   2   20

In [0]:
dat5 = {"sd":pd.Series([1,2]),
       "asd":pd.Series([10,20])}
print(pd.DataFrame(dat5))

   sd  asd
0   1   10
1   2   20

column selection

In [0]:
print(d3["targerian"])

1st year    57
2nd year    22
Name: targerian, dtype: int64

In [0]:
d3["freeman"] = pd.DataFrame(pd.Series([13,24],index = ["1st year","2nd year"]))
print(d3)

          karstark  lannister  stark  targerian  freeman
1st year      10.0        NaN   25.0         57       13
2nd year       NaN       75.0    NaN         22       24

In [0]:
del d3["karstark"]
print(d3)

          lannister  stark  targerian  freeman
1st year        NaN   25.0         57       13
2nd year       75.0    NaN         22       24

In [0]:
d3.pop("freeman")
print(d3)

          lannister  stark  targerian
1st year        NaN   25.0         57
2nd year       75.0    NaN         22

selection addition deletion by rows

In [0]:
addd3 = pd.DataFrame([[66,33,44]],columns = ["lannister","stark","targerian"],index = ["3rd year"])
d3 = d3.append(addd3)

In [0]:
print(d3)

          lannister  stark  targerian
1st year        NaN   25.0         57
2nd year       75.0    NaN         22
0              66.0   33.0         44
3rd year       66.0   33.0         44

In [0]:
d3 = d3.drop(0)
print(d3)

          lannister  stark  targerian
1st year        NaN   25.0         57
2nd year       75.0    NaN         22
3rd year       66.0   33.0         44

In [0]:
print(d3.iloc[1])
print(d3.loc["1st year"])

lannister    75.0
stark         NaN
targerian    22.0
Name: 2nd year, dtype: float64
lannister     NaN
stark        25.0
targerian    57.0
Name: 1st year, dtype: float64

#panel in pandas

In [5]:
import pandas as pd
import numpy as np
p_data = np.random.rand(2,3,4)
p = pd.Panel(p_data)
print(p)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 4 (minor_axis)
Items axis: 0 to 1
Major_axis axis: 0 to 2
Minor_axis axis: 0 to 3

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
p_data1 = {"no1":pd.DataFrame(np.random.rand(5,3)),"no2":pd.DataFrame(np.random.rand(5,3))}
p = pd.Panel(p_data1)
print(p)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 3 (minor_axis)
Items axis: no1 to no2
Major_axis axis: 0 to 4
Minor_axis axis: 0 to 2

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
print(p["no1"])

          0         1         2
0  0.691012  0.719272  0.684855
1  0.606620  0.547326  0.199399
2  0.784937  0.148855  0.973448
3  0.978426  0.258715  0.601600
4  0.493379  0.754484  0.017122

In [16]:
print(p["no2"])

          0         1         2
0  0.397596  0.492295  0.596120
1  0.523047  0.213903  0.268720
2  0.601752  0.159069  0.394857
3  0.273076  0.023891  0.205420
4  0.172882  0.987778  0.945194

In [15]:
print(p.major_xs(3))

        no1       no2
0  0.978426  0.273076
1  0.258715  0.023891
2  0.601600  0.205420

In [18]:
print(p.minor_xs(1))

        no1       no2
0  0.719272  0.492295
1  0.547326  0.213903
2  0.148855  0.159069
3  0.258715  0.023891
4  0.754484  0.987778