<a href="https://colab.research.google.com/github/madhuselvaraj/workspace-python-pandas/blob/master/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

#basic functionality

**Series**

In [0]:
data = [2,4,6,8,10]
s_data = pd.Series(data)
print(s_data)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [0]:
s_data.axes

[RangeIndex(start=0, stop=5, step=1)]

In [0]:
s_data.empty

False

In [0]:
s = pd.Series()
s.empty

True

In [0]:
s.axes

[Index([], dtype='object')]

In [0]:
s_data.ndim

1

In [0]:
s.ndim

1

In [0]:
s_data.values

array([ 2,  4,  6,  8, 10])

In [0]:
s_data.dtype

dtype('int64')

In [0]:
s_data.head(3)

0    2
1    4
2    6
dtype: int64

In [0]:
s_data.tail(3)

2     6
3     8
4    10
dtype: int64

In [0]:
s_data.size

5

**DataFrame**

In [0]:
data2 = {"3rd":pd.Series([3,-6,9,12],dtype = "int64"),
         "4th":pd.Series([4,8,-12,16],dtype = "float")
        }
d_data2 = pd.DataFrame(data2)
print(d_data2)

   3rd   4th
0    3   4.0
1   -6   8.0
2    9 -12.0
3   12  16.0

In [0]:
d_data2.axes

[RangeIndex(start=0, stop=4, step=1), Index(['3rd', '4th'], dtype='object')]

In [0]:
d_data2.ndim

2

In [0]:
d_data2.T

     0  1   2   3
3rd  3  6   9  12
4th  4  8  12  16

In [0]:
d = pd.DataFrame()
d.axes

[Index([], dtype='object'), Index([], dtype='object')]

In [0]:
d_data2.values

array([[ 3,  4],
       [ 6,  8],
       [ 9, 12],
       [12, 16]])

In [0]:
d_data2.shape

(4, 2)

In [0]:
d_data2.head(2)

   3rd  4th
0    3    4
1    6    8

In [0]:
d_data2.dtypes

3rd      int64
4th    float64
dtype: object

In [0]:
d_data2.size

8

**Descriptive statistics**

In [0]:
print(d_data2)

   3rd   4th
0    3   4.0
1    6   8.0
2    9  12.0
3   12  16.0

In [0]:
d_data2.count()

3rd    4
4th    4
dtype: int64

In [0]:
d_data2.count(axis = 1)

0    2
1    2
2    2
3    2
dtype: int64

In [0]:
d_data2.sum()

3rd    30.0
4th    40.0
dtype: float64

In [0]:
d_data2.sum(axis = 1)

0     7.0
1    14.0
2    21.0
3    28.0
dtype: float64

In [0]:
d_data2.mean()

3rd     7.5
4th    10.0
dtype: float64

In [0]:
d_data2.median(axis = 1)

0     3.5
1     7.0
2    10.5
3    14.0
dtype: float64

In [0]:
d_data2.mode()

   3rd   4th
0   -6 -12.0
1    3   4.0
2    9   8.0
3   12  16.0

In [0]:
d_data2.std(axis = 1)

0    0.707107
1    1.414214
2    2.121320
3    2.828427
dtype: float64

In [0]:
d_data2.min()

3rd    3.0
4th    4.0
dtype: float64

In [0]:
d_data2.max()

3rd    12.0
4th    16.0
dtype: float64

In [0]:
d_data2.abs()

    3rd   4th
0   3.0   4.0
1   6.0   8.0
2   9.0  12.0
3  12.0  16.0

In [0]:
d_data2.prod()

3rd   -1944.0
4th   -6144.0
dtype: float64

In [0]:
d_data2.cumsum()

    3rd   4th
0   3.0   4.0
1  -3.0  12.0
2   6.0   0.0
3  18.0  16.0

In [0]:
d_data2.cumprod(axis = 1)

    3rd    4th
0   3.0   12.0
1  -6.0  -48.0
2   9.0 -108.0
3  12.0  192.0

In [0]:
d_data2.describe()

             3rd        4th
count   4.000000   4.000000
mean    4.500000   4.000000
std     7.937254  11.775681
min    -6.000000 -12.000000
25%     0.750000   0.000000
50%     6.000000   6.000000
75%     9.750000  10.000000
max    12.000000  16.000000

In [0]:
print(d_data2.describe(include = ['number']))

             3rd        4th
count   4.000000   4.000000
mean    4.500000   4.000000
std     7.937254  11.775681
min    -6.000000 -12.000000
25%     0.750000   0.000000
50%     6.000000   6.000000
75%     9.750000  10.000000
max    12.000000  16.000000

In [0]:

d_data2["num"] = pd.DataFrame(pd.Series(["one","two","three","four"],index = [0,1,2,3]))
d_data2["num2"] = pd.DataFrame(pd.Series(["one","two","three","four"],index = [0,1,2,3]))

print(d_data2)

   3rd   4th    num   num2
0    3   4.0    one    one
1   -6   8.0    two    two
2    9 -12.0  three  three
3   12  16.0   four   four

In [0]:
d_data2.describe(include = ["object"])

          num   num2
count       4      4
unique      4      4
top     three  three
freq        1      1

In [0]:
d_data2. describe(include='all')

              3rd        4th    num   num2
count    4.000000   4.000000      4      4
unique        NaN        NaN      4      4
top           NaN        NaN  three  three
freq          NaN        NaN      1      1
mean     4.500000   4.000000    NaN    NaN
std      7.937254  11.775681    NaN    NaN
min     -6.000000 -12.000000    NaN    NaN
25%      0.750000   0.000000    NaN    NaN
50%      6.000000   6.000000    NaN    NaN
75%      9.750000  10.000000    NaN    NaN
max     12.000000  16.000000    NaN    NaN

**Function application**

In [0]:
data4 = {"col1":pd.Series([1,2,3,4],dtype = "int64"),
         "col2":pd.Series([5,6,7,8],dtype = "int64")
        }
fun_app = pd.DataFrame(data4)
print(fun_app)

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [0]:
def product(num1):
  return num1*num1

print(fun_app.pipe(product))

   col1  col2
0     1    25
1     4    36
2     9    49
3    16    64

In [0]:
import numpy
print(fun_app.apply(lambda x: x-1,axis = 1))

   col1  col2
0     0     4
1     1     5
2     2     6
3     3     7

In [0]:
print(fun_app['col2'].map(lambda x:((x*x)-1)))

0    24
1    35
2    48
3    63
Name: col2, dtype: int64