<a href="https://colab.research.google.com/github/madhuselvaraj/workspace-python-pandas/blob/master/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import numpy as np

**Reindexing**

In [0]:
data1 = {"c1":pd.Series(np.random.rand(3)),
       "c2":pd.Series(np.random.rand(3)),
        "c3":pd.Series(np.random.rand(3))}
df1 = pd.DataFrame(data1)
print(df1)

         c1        c2        c3
0  0.422903  0.031462  0.776654
1  0.941692  0.885687  0.946839
2  0.233213  0.036606  0.961089

In [0]:
data2 = {"c1":pd.Series(np.random.rand(5)),
       "c2":pd.Series(np.random.rand(5)),
        "c3":pd.Series(np.random.rand(5))}
df2 = pd.DataFrame(data2)
print(df2)

         c1        c2        c3
0  0.396899  0.239033  0.545513
1  0.539415  0.509574  0.900707
2  0.277722  0.379551  0.885583
3  0.365777  0.933537  0.479310
4  0.884530  0.583241  0.793531

In [0]:
print(df1.reindex_like(df2))

         c1        c2        c3
0  0.422903  0.031462  0.776654
1  0.941692  0.885687  0.946839
2  0.233213  0.036606  0.961089
3       NaN       NaN       NaN
4       NaN       NaN       NaN

In [0]:
print(df1.reindex_like(df2,method = "ffill",limit = 1))

         c1        c2        c3
0  0.422903  0.031462  0.776654
1  0.941692  0.885687  0.946839
2  0.233213  0.036606  0.961089
3  0.233213  0.036606  0.961089
4       NaN       NaN       NaN

In [0]:
print(df1.reindex_like(df2,method = "bfill"))

         c1        c2        c3
0  0.422903  0.031462  0.776654
1  0.941692  0.885687  0.946839
2  0.233213  0.036606  0.961089
3       NaN       NaN       NaN
4       NaN       NaN       NaN

In [0]:
print(df1.reindex_like(df2,method = "nearest"))

         c1        c2        c3
0  0.422903  0.031462  0.776654
1  0.941692  0.885687  0.946839
2  0.233213  0.036606  0.961089
3  0.233213  0.036606  0.961089
4  0.233213  0.036606  0.961089

In [0]:
df1.rename(columns = {"col1":"colu1","col2":"colu2","col3":"colu3"},index = {1:'a',2:'b'})

      colu1     colu2     colu3
0  0.422903  0.031462  0.776654
a  0.941692  0.885687  0.946839
b  0.233213  0.036606  0.961089

In [0]:
print(df1)

       col1      col2      col3
0  0.422903  0.031462  0.776654
a  0.941692  0.885687  0.946839
b  0.233213  0.036606  0.961089

In [0]:
df1.rename(columns = {"col1":"colu1","col2":"colu2","col3":"colu3"},index = {1:'a',2:'b'},inplace = True)

In [0]:
print(df1)

      colu1     colu2     colu3
0  0.422903  0.031462  0.776654
a  0.941692  0.885687  0.946839
b  0.233213  0.036606  0.961089

**Iteration**

In [0]:
for c in df1:
  print(c)

colu1
colu2
colu3

In [0]:
for x,y in df1.iteritems():
  print(x)
  print(y['a'])

colu1
0.9416916947964619
colu2
0.8856869788882151
colu3
0.9468387197300518

In [0]:
for x,y in df1.iterrows():
  print(x)
  print(y['colu3'])

0
0.776653698516443
a
0.9468387197300518
b
0.9610892163586676

In [0]:
for z in df1.itertuples():
  print(z[3])
  print(z[0])
  print("========")

0.776653698516443
0
========
0.9468387197300518
a
========
0.9610892163586676
b
========

**Sorting**

In [8]:
unsorted_df = pd.DataFrame(np.random.randn(10,3),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1','col3'])
print(unsorted_df)

       col2      col1      col3
1  0.100551  0.046166  0.483141
4 -0.190286 -0.435149  0.839415
6 -1.050673 -0.910066 -2.142279
2 -1.100059 -0.173963  0.128825
3  0.347697 -1.244759 -1.440663
5  1.039209  0.502287  1.222420
9  0.751962  0.916517 -1.123492
8  1.311515 -1.075901 -0.684345
0 -0.544697 -2.079042  0.052216
7 -0.585288  1.540427 -0.243021

In [14]:
print(unsorted_df.sort_index())

       col2      col1      col3
0 -0.544697 -2.079042  0.052216
1  0.100551  0.046166  0.483141
2 -1.100059 -0.173963  0.128825
3  0.347697 -1.244759 -1.440663
4 -0.190286 -0.435149  0.839415
5  1.039209  0.502287  1.222420
6 -1.050673 -0.910066 -2.142279
7 -0.585288  1.540427 -0.243021
8  1.311515 -1.075901 -0.684345
9  0.751962  0.916517 -1.123492

In [13]:
print(unsorted_df.sort_index(axis = 1))

       col1      col2      col3
1  0.046166  0.100551  0.483141
4 -0.435149 -0.190286  0.839415
6 -0.910066 -1.050673 -2.142279
2 -0.173963 -1.100059  0.128825
3 -1.244759  0.347697 -1.440663
5  0.502287  1.039209  1.222420
9  0.916517  0.751962 -1.123492
8 -1.075901  1.311515 -0.684345
0 -2.079042 -0.544697  0.052216
7  1.540427 -0.585288 -0.243021

In [18]:
print(unsorted_df.sort_index(ascending = False))

       col2      col1      col3
9  0.751962  0.916517 -1.123492
8  1.311515 -1.075901 -0.684345
7 -0.585288  1.540427 -0.243021
6 -1.050673 -0.910066 -2.142279
5  1.039209  0.502287  1.222420
4 -0.190286 -0.435149  0.839415
3  0.347697 -1.244759 -1.440663
2 -1.100059 -0.173963  0.128825
1  0.100551  0.046166  0.483141
0 -0.544697 -2.079042  0.052216

In [20]:
print(unsorted_df.sort_values(by = 'col3'))

       col2      col1      col3
6 -1.050673 -0.910066 -2.142279
3  0.347697 -1.244759 -1.440663
9  0.751962  0.916517 -1.123492
8  1.311515 -1.075901 -0.684345
7 -0.585288  1.540427 -0.243021
0 -0.544697 -2.079042  0.052216
2 -1.100059 -0.173963  0.128825
1  0.100551  0.046166  0.483141
4 -0.190286 -0.435149  0.839415
5  1.039209  0.502287  1.222420

In [26]:
sorted_df = unsorted_df.sort_index()
print(sorted_df)

       col2      col1      col3
0 -0.544697 -2.079042  0.052216
1  0.100551  0.046166  0.483141
2 -1.100059 -0.173963  0.128825
3  0.347697 -1.244759 -1.440663
4 -0.190286 -0.435149  0.839415
5  1.039209  0.502287  1.222420
6 -1.050673 -0.910066 -2.142279
7 -0.585288  1.540427 -0.243021
8  1.311515 -1.075901 -0.684345
9  0.751962  0.916517 -1.123492

In [0]:
sorted_df['names'] = pd.Series(["zero","NaN","two","Nan","four","five","six","seven","eight","nine"])

In [28]:
print(sorted_df)

       col2      col1      col3  names
0 -0.544697 -2.079042  0.052216   zero
1  0.100551  0.046166  0.483141    one
2 -1.100059 -0.173963  0.128825    two
3  0.347697 -1.244759 -1.440663  three
4 -0.190286 -0.435149  0.839415   four
5  1.039209  0.502287  1.222420   five
6 -1.050673 -0.910066 -2.142279    six
7 -0.585288  1.540427 -0.243021  seven
8  1.311515 -1.075901 -0.684345  eight
9  0.751962  0.916517 -1.123492   nine

In [37]:
print(sorted_df.sort_values(by='col1' ,kind='mergesort'))

       col2      col1      col3  names
0 -0.544697 -2.079042  0.052216   zero
3  0.347697 -1.244759 -1.440663  three
8  1.311515 -1.075901 -0.684345  eight
6 -1.050673 -0.910066 -2.142279    six
4 -0.190286 -0.435149  0.839415   four
2 -1.100059 -0.173963  0.128825    two
1  0.100551  0.046166  0.483141    one
5  1.039209  0.502287  1.222420   five
9  0.751962  0.916517 -1.123492   nine
7 -0.585288  1.540427 -0.243021  seven

In [56]:
print(sorted_df.sort_values(by='names',na_position ='last',kind = 'mergesort'))

       col2      col1      col3  names
1  0.100551  0.046166  0.483141    NaN
3  0.347697 -1.244759 -1.440663    Nan
8  1.311515 -1.075901 -0.684345  eight
5  1.039209  0.502287  1.222420   five
4 -0.190286 -0.435149  0.839415   four
9  0.751962  0.916517 -1.123492   nine
7 -0.585288  1.540427 -0.243021  seven
6 -1.050673 -0.910066 -2.142279    six
2 -1.100059 -0.173963  0.128825    two
0 -0.544697 -2.079042  0.052216   zero