<a href="https://colab.research.google.com/github/madhuselvaraj/workspace-python-pandas/blob/master/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Working with text data**

In [0]:
import pandas as pd

In [0]:
data_char = pd.Series(["apple","BANANA","Carrot ","  dATES","or@nge","pine apple","apple","12as","1233"])

In [0]:
print(data_char)

0         apple
1        BANANA
2       Carrot
3         dATES
4        or@nge
5    pine apple
dtype: object

In [0]:
print(data_char.str.lower())
print(data_char.str.upper())

0         apple
1        banana
2       carrot
3         dates
4        or@nge
5    pine apple
dtype: object
0         APPLE
1        BANANA
2       CARROT
3         DATES
4        OR@NGE
5    PINE APPLE
dtype: object

In [0]:
print(data_char.str.len())

0     5
1     6
2     7
3     7
4     6
5    10
dtype: int64

In [0]:
print(data_char.str.strip())

0         apple
1        BANANA
2        Carrot
3         dATES
4        or@nge
5    pine apple
dtype: object

In [0]:
print(data_char.str.split(' '))

0          [apple]
1         [BANANA]
2       [Carrot, ]
3      [, , dATES]
4         [or@nge]
5    [pine, apple]
6          [apple]
dtype: object

In [0]:
print(data_char.str.cat(sep = "-"))

apple-BANANA-Carrot -  dATES-or@nge-pine apple

In [0]:
print(data_char.str.get_dummies())

     dATES  BANANA  Carrot   apple  or@nge  pine apple
0        0       0        0      1       0           0
1        0       1        0      0       0           0
2        0       0        1      0       0           0
3        1       0        0      0       0           0
4        0       0        0      0       1           0
5        0       0        0      0       0           1
6        0       0        0      1       0           0

In [0]:
print(data_char.str.contains('a'))

0     True
1    False
2     True
3    False
4    False
5     True
6     True
dtype: bool

In [0]:
print(data_char.str.replace('@','$'))

0         apple
1        BANANA
2       Carrot
3         dATES
4        or$nge
5    pine apple
6         apple
dtype: object

In [0]:
print(data_char.str.repeat(3))

0                   appleappleapple
1                BANANABANANABANANA
2             Carrot Carrot Carrot
3               dATES  dATES  dATES
4                or@ngeor@ngeor@nge
5    pine applepine applepine apple
6                   appleappleapple
dtype: object

In [0]:
print(data_char.str.count('e'))

0    1
1    0
2    0
3    0
4    1
5    2
6    1
dtype: int64

In [0]:
print(data_char.str.startswith('a'))

0     True
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [0]:
print(data_char.str.endswith('S'))

0    False
1    False
2    False
3     True
4    False
5    False
6    False
dtype: bool

In [0]:
print(data_char.str.find('e'))

0    4
1   -1
2   -1
3   -1
4    5
5    3
6    4
dtype: int64

In [0]:
print(data_char.str.findall('e'))

0       [e]
1        []
2        []
3        []
4       [e]
5    [e, e]
6       [e]
dtype: object

In [0]:
print(data_char.str.swapcase())

0         APPLE
1        banana
2       cARROT
3         Dates
4        OR@NGE
5    PINE APPLE
6         APPLE
7          12AS
8          1233
dtype: object

In [0]:
print(data_char.str.isupper())

0    False
1     True
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [0]:
print(data_char.str.islower())

0     True
1    False
2    False
3    False
4     True
5     True
6     True
dtype: bool

In [0]:
print(data_char.str.isnumeric())

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8     True
dtype: bool

**Options & customizations**

In [0]:
print(pd.get_option("display.max_rows"))
print(pd.get_option("display.max_columns"))
print(pd.get_option("display.expand_frame_rep"))
print(pd.get_option("display.max_colwidth"))
print(pd.get_option("display.precision"))

100
0
True
50
6

In [0]:
pd.set_option("display.max_rows",100)
print(pd.get_option("display.max_rows"))

100

In [0]:
pd.reset_option("display.max_rows")
print(pd.get_option("display.max_rows"))

60

In [0]:
print(pd.describe_option("display.expand_frame_rep"))

display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]


None

In [0]:
with pd.option_context("display.max_rows",10):
  print(pd.get_option("display.max_rows"))
print(pd.get_option("display.max_rows"))

10
60

**Indexing & Selecting data**

In [0]:
import numpy as np
sample_dataframe = pd.DataFrame(np.random.rand(5,3))
print(sample_dataframe)

          0         1         2
0  0.024074  0.660973  0.477587
1  0.464118  0.050705  0.402394
2  0.347312  0.920934  0.448931
3  0.410951  0.384628  0.626371
4  0.516317  0.581928  0.662859

In [0]:
sample_dataframe =sample_dataframe.rename(columns = {1:'B'},index = {0:'a',2:'c',4:'e'})

In [0]:
print(sample_dataframe.loc['c':'e',:])

          0         B         2
c  0.347312  0.920934  0.448931
3  0.410951  0.384628  0.626371
e  0.516317  0.581928  0.662859

In [0]:
print(sample_dataframe.iloc[1:4,0:2])

          0         B
1  0.464118  0.050705
c  0.347312  0.920934
3  0.410951  0.384628

In [0]:
print(sample_dataframe.loc['a'] <0)

0    False
B    False
2    False
Name: a, dtype: bool

In [0]:
print(sample_dataframe.ix[1:4,0:2])

          0         B
1  0.464118  0.050705
c  0.347312  0.920934
3  0.410951  0.384628

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [0]:
print(sample_dataframe.ix['c':'e',:])

          0         B         2
c  0.347312  0.920934  0.448931
3  0.410951  0.384628  0.626371
e  0.516317  0.581928  0.662859

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [0]:
sample_dataframe[['B',0]]

          B         0
a  0.660973  0.024074
1  0.050705  0.464118
c  0.920934  0.347312
3  0.384628  0.410951
e  0.581928  0.516317

In [0]:
sample_dataframe.B

a    0.660973
1    0.050705
c    0.920934
3    0.384628
e    0.581928
Name: B, dtype: float64

**statistical functions**

In [3]:
data_sf = {"A":pd.Series([1,2,3,4,5]),"B":pd.Series([6,7,8,9,10])}
dataframe_sf = pd.DataFrame(data_sf)
print(dataframe_sf)

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [4]:
print(dataframe_sf.pct_change())

          A         B
0       NaN       NaN
1  1.000000  0.166667
2  0.500000  0.142857
3  0.333333  0.125000
4  0.250000  0.111111

In [5]:
print(dataframe_sf.cov())

     A    B
A  2.5  2.5
B  2.5  2.5

In [7]:
print(dataframe_sf['A'].cov(dataframe_sf['B']))

2.5

In [8]:
print(dataframe_sf.corr())

     A    B
A  1.0  1.0
B  1.0  1.0

In [13]:
print(dataframe_sf.rank(method = "first"))

     A    B
0  1.0  1.0
1  2.0  2.0
2  3.0  3.0
3  4.0  4.0
4  5.0  5.0