<a href="https://colab.research.google.com/github/madhuselvaraj/workspace-python-pandas/blob/master/Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

**Window functions**

In [0]:
data = {"c1":[1,2,3,4,5],"c2":[10,20,30,40,50]}
dataframe_data = pd.DataFrame(data)
print(dataframe_data)

   c1  c2
0   1  10
1   2  20
2   3  30
3   4  40
4   5  50

In [0]:
print(dataframe_data.rolling(window = 3).sum())

     c1     c2
0   NaN    NaN
1   NaN    NaN
2   6.0   60.0
3   9.0   90.0
4  12.0  120.0

In [0]:
print(dataframe_data.expanding(min_periods = 3).sum())

     c1     c2
0   NaN    NaN
1   NaN    NaN
2   6.0   60.0
3  10.0  100.0
4  15.0  150.0

In [0]:
print(dataframe_data.ewm(com = 3).mean())

         c1         c2
0  1.000000  10.000000
1  1.571429  15.714286
2  2.189189  21.891892
3  2.851429  28.514286
4  3.555698  35.556978

**aggregation**

In [0]:
rolling = dataframe_data.rolling(window = 3).sum()
rolling['c1'].aggregate(np.sum)

27.0

In [0]:
print(rolling.aggregate({'c2':np.mean}))

c2    90.0
dtype: float64

**missing  data**

In [0]:
missing_data = dataframe_data.reindex([0,1,2,3,4,5,6,7,8])
print(missing_data)

    c1    c2
0  1.0  10.0
1  2.0  20.0
2  3.0  30.0
3  4.0  40.0
4  5.0  50.0
5  NaN   NaN
6  NaN   NaN
7  NaN   NaN
8  NaN   NaN

In [0]:
missing_data['c1'].isnull()

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
Name: c1, dtype: bool

In [0]:
print(missing_data['c1'].fillna(0))

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: c1, dtype: float64

In [0]:
print(missing_data['c2'].fillna(method = 'pad'))

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    50.0
6    50.0
7    50.0
8    50.0
Name: c2, dtype: float64

In [0]:
print(missing_data['c1'].dropna())

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
Name: c1, dtype: float64

**GroupBy**

In [0]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[10,9,8,6,7,8,7,6,5,7,3,5]}
groupby_dataframe = pd.DataFrame(ipl_data)
print(groupby_dataframe)

      Team  Rank  Year  Points
0   Riders     1  2014      10
1   Riders     2  2015       9
2   Devils     2  2014       8
3   Devils     3  2015       6
4    Kings     3  2014       7
5    kings     4  2015       8
6    Kings     1  2016       7
7    Kings     1  2017       6
8   Riders     2  2016       5
9   Royals     4  2014       7
10  Royals     1  2015       3
11  Riders     2  2017       5

In [0]:
print(groupby_dataframe.groupby(['Team','Year']).groups)

{('Devils', 2014): Int64Index([2], dtype='int64'), ('Devils', 2015): Int64Index([3], dtype='int64'), ('Kings', 2014): Int64Index([4], dtype='int64'), ('Kings', 2016): Int64Index([6], dtype='int64'), ('Kings', 2017): Int64Index([7], dtype='int64'), ('Riders', 2014): Int64Index([0], dtype='int64'), ('Riders', 2015): Int64Index([1], dtype='int64'), ('Riders', 2016): Int64Index([8], dtype='int64'), ('Riders', 2017): Int64Index([11], dtype='int64'), ('Royals', 2014): Int64Index([9], dtype='int64'), ('Royals', 2015): Int64Index([10], dtype='int64'), ('kings', 2015): Int64Index([5], dtype='int64')}

In [0]:
groupdf = groupby_dataframe.groupby(['Rank'])
for name,detail in groupdf:
  print(name)
  print(detail)

1
      Team  Rank  Year  Points
0   Riders     1  2014      10
6    Kings     1  2016       7
7    Kings     1  2017       6
10  Royals     1  2015       3
2
      Team  Rank  Year  Points
1   Riders     2  2015       9
2   Devils     2  2014       8
8   Riders     2  2016       5
11  Riders     2  2017       5
3
     Team  Rank  Year  Points
3  Devils     3  2015       6
4   Kings     3  2014       7
4
     Team  Rank  Year  Points
5   kings     4  2015       8
9  Royals     4  2014       7

In [0]:
groupdf2 = groupby_dataframe.groupby('Year')
print(groupdf2.get_group(2015))

      Team  Rank  Year  Points
1   Riders     2  2015       9
3   Devils     3  2015       6
5    kings     4  2015       8
10  Royals     1  2015       3

In [0]:
print(groupdf2.agg(np.size))

      Team  Rank  Points
Year
2014     4     4       4
2015     4     4       4
2016     2     2       2
2017     2     2       2

In [0]:
groupdf3 = groupby_dataframe.groupby('Points')
print(groupdf3['Rank'].agg([np.mean,np.sum]))

            mean  sum
Points
3       1.000000    1
5       2.000000    4
6       2.000000    4
7       2.666667    8
8       3.000000    6
9       2.000000    2
10      1.000000    1

In [0]:
print(groupdf3.transform(lambda x: (x+x)))

            Team  Rank  Year
0   RidersRiders     2  4028
1   RidersRiders     4  4030
2   DevilsDevils     4  4028
3   DevilsDevils     6  4030
4     KingsKings     6  4028
5     kingskings     8  4030
6     KingsKings     2  4032
7     KingsKings     2  4034
8   RidersRiders     4  4032
9   RoyalsRoyals     8  4028
10  RoyalsRoyals     2  4030
11  RidersRiders     4  4034

In [0]:
print(groupdf2.filter(lambda x: len(x)>2))

      Team  Rank  Year  Points
0   Riders     1  2014      10
1   Riders     2  2015       9
2   Devils     2  2014       8
3   Devils     3  2015       6
4    Kings     3  2014       7
5    kings     4  2015       8
9   Royals     4  2014       7
10  Royals     1  2015       3