<a href="https://colab.research.google.com/github/madhuselvaraj/workspace-python-pandas/blob/master/Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

**Merging**

In [0]:
data_merging1 = {"num":pd.Series([1,2,3,4,5,7]),
                "id":pd.Series(["no1","no2","no3","no4","no5","no7"])}
df_data1 =pd.DataFrame(data_merging1)

In [0]:
data_merging2 = {"num":pd.Series(["one","two","three","four","five","six"]),
                "id":pd.Series(["no1","no2","no3","no4","no5","no6"])}
df_data2 =pd.DataFrame(data_merging2)

In [0]:
print(df_data1)
print(df_data2)

   num   id
0    1  no1
1    2  no2
2    3  no3
3    4  no4
4    5  no5
5    7  no7
     num   id
0    one  no1
1    two  no2
2  three  no3
3   four  no4
4   five  no5
5    six  no6

In [0]:
print(pd.merge(df_data1,df_data2,on =["id"],how = "right"))

   num_x   id  num_y
0    1.0  no1    one
1    2.0  no2    two
2    3.0  no3  three
3    4.0  no4   four
4    5.0  no5   five
5    NaN  no6    six

In [0]:
print(pd.merge(df_data1,df_data2,on =["id"],how = "outer"))

   num_x   id  num_y
0    1.0  no1    one
1    2.0  no2    two
2    3.0  no3  three
3    4.0  no4   four
4    5.0  no5   five
5    7.0  no7    NaN
6    NaN  no6    six

In [0]:
merge = pd.merge(df_data1,df_data2,on = "id",how = "inner")
print(merge)

   num_x   id  num_y
0      1  no1    one
1      2  no2    two
2      3  no3  three
3      4  no4   four
4      5  no5   five

**Concatenation**

In [0]:
print(pd.concat([df_data1,df_data2],ignore_index = True))

      num   id
0       1  no1
1       2  no2
2       3  no3
3       4  no4
4       5  no5
5       7  no7
6     one  no1
7     two  no2
8   three  no3
9    four  no4
10   five  no5
11    six  no6

In [0]:
data3 = {"number":pd.Series([11,12,13,14]),
        "id":pd.Series(["no11","no12","no13","no14"])}
df_data3 = pd.DataFrame(data3)
print(df_data3)

   number    id
0      11  no11
1      12  no12
2      13  no13
3      14  no14

In [0]:
print(pd.concat([df_data1,df_data3],keys = ['1st','3rd'],sort = False))

       num    id  number
1st 0  1.0   no1     NaN
    1  2.0   no2     NaN
    2  3.0   no3     NaN
    3  4.0   no4     NaN
    4  5.0   no5     NaN
    5  7.0   no7     NaN
3rd 0  NaN  no11    11.0
    1  NaN  no12    12.0
    2  NaN  no13    13.0
    3  NaN  no14    14.0

In [0]:
print(pd.concat([df_data2,df_data3],axis = 1))

     num   id  number    id
0    one  no1    11.0  no11
1    two  no2    12.0  no12
2  three  no3    13.0  no13
3   four  no4    14.0  no14
4   five  no5     NaN   NaN
5    six  no6     NaN   NaN

**Time Series**

In [0]:
print(pd.datetime.now())

2019-06-01 05:50:43.621601

In [0]:
print(pd.Timestamp('2019-05-05'))

2019-05-05 00:00:00

In [0]:
print(pd.date_range('10:00','12:00',freq = '30min').time)

[datetime.time(10, 0) datetime.time(10, 30) datetime.time(11, 0)
 datetime.time(11, 30) datetime.time(12, 0)]

In [0]:
print(pd.date_range('2019-06-01','2019-12-02',freq = 'm'))

DatetimeIndex(['2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30',
               '2019-10-31', '2019-11-30'],
              dtype='datetime64[ns]', freq='M')

**Date function**

In [0]:
print(pd.bdate_range('05-31-2019',periods = 7))

DatetimeIndex(['2019-05-31', '2019-06-03', '2019-06-04', '2019-06-05',
               '2019-06-06', '2019-06-07', '2019-06-10'],
              dtype='datetime64[ns]', freq='B')

**TimeDelta**

In [0]:
print(pd.Timedelta(73,unit = 'h'))

3 days 01:00:00

In [0]:
date = pd.Series(pd.date_range('2019-05-05','2019-05-10',freq = 'd'))
day = pd.Series(pd.Timedelta(days = i)for i in range(6))
df_days = pd.DataFrame({'c1':date,'c2':day})
print(df_days)

          c1     c2
0 2019-05-05 0 days
1 2019-05-06 1 days
2 2019-05-07 2 days
3 2019-05-08 3 days
4 2019-05-09 4 days
5 2019-05-10 5 days

In [0]:
df_days['c3'] = df_days['c1'] - df_days['c2']
print(df_days)

          c1     c2         c3
0 2019-05-05 0 days 2019-05-05
1 2019-05-06 1 days 2019-05-05
2 2019-05-07 2 days 2019-05-05
3 2019-05-08 3 days 2019-05-05
4 2019-05-09 4 days 2019-05-05
5 2019-05-10 5 days 2019-05-05