<a href="https://colab.research.google.com/github/madhuselvaraj/workspace-python-pandas/blob/master/project6_movie_time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PROJECT 6 -Movie time
**Heading**: Pandas

**Topics** **covered**: merging,concatenation,Date functionality

**concept**: sheduling movie time in two Screens

In [0]:
import pandas as pd
import numpy as np

create a dataframe

In [0]:
time = pd.date_range('02-06-2019 10:00:00',freq = "3h",periods = 4)
df_screen1 = pd.DataFrame(pd.Series(time),columns = ["Screen"])

creating a column called '**Movie**'

In [0]:
df_screen1['Movie'] = pd.DataFrame(pd.Series(["Monster","Godzilla"],index = [0,3]))
print(df_screen1)

               Screen     Movie
0 2019-02-06 10:00:00   Monster
1 2019-02-06 13:00:00       NaN
2 2019-02-06 16:00:00       NaN
3 2019-02-06 19:00:00  Godzilla

filling null values

In [0]:
df_screen1 = df_screen1.fillna(method='bfill',limit = 1)

In [0]:
df_screen1 = df_screen1.fillna(method='ffill')

**screen 1**

In [0]:
print(df_screen1)

               Screen     Movie
0 2019-02-06 10:00:00   Monster
1 2019-02-06 13:00:00   Monster
2 2019-02-06 16:00:00  Godzilla
3 2019-02-06 19:00:00  Godzilla

craete a dataframe

In [0]:
time = pd.date_range('02-06-2019 10:00:00',freq = "3h",periods = 4)
df_screen2 = pd.DataFrame(pd.Series(time),columns = ["Screen"])

**Screen 2**

In [0]:
df_screen2['Movie'] = pd.DataFrame(pd.Series(["NGK","Devi2","NGK","Devi2"]))
print(df_screen2)

               Screen  Movie
0 2019-02-06 10:00:00    NGK
1 2019-02-06 13:00:00  Devi2
2 2019-02-06 16:00:00    NGK
3 2019-02-06 19:00:00  Devi2

In [0]:
print(pd.merge(df_screen1,df_screen2,on = "Screen"))

               Screen   Movie_x Movie_y
0 2019-02-06 10:00:00   Monster     NGK
1 2019-02-06 13:00:00   Monster   Devi2
2 2019-02-06 16:00:00  Godzilla     NGK
3 2019-02-06 19:00:00  Godzilla   Devi2

In [0]:
print(pd.concat([df_screen1,df_screen2],ignore_index = True))

               Screen     Movie
0 2019-02-06 10:00:00   Monster
1 2019-02-06 13:00:00   Monster
2 2019-02-06 16:00:00  Godzilla
3 2019-02-06 19:00:00  Godzilla
4 2019-02-06 10:00:00       NGK
5 2019-02-06 13:00:00     Devi2
6 2019-02-06 16:00:00       NGK
7 2019-02-06 19:00:00     Devi2

**ouput**

In [0]:
print(pd.concat([df_screen1,df_screen2],keys = ['Screen 1','Screen 2']))

                        Screen     Movie
Screen 1 0 2019-02-06 10:00:00   Monster
         1 2019-02-06 13:00:00   Monster
         2 2019-02-06 16:00:00  Godzilla
         3 2019-02-06 19:00:00  Godzilla
Screen 2 0 2019-02-06 10:00:00       NGK
         1 2019-02-06 13:00:00     Devi2
         2 2019-02-06 16:00:00       NGK
         3 2019-02-06 19:00:00     Devi2