<a href="https://colab.research.google.com/github/madhuselvaraj/workspace-python-pandas/blob/master/project_2_purchase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PROJECT 2 Purchase
Heading: Pandas

Topics covered: Basic functions -- value(), shape(), head()
                             Descriptive statistic functions -- count(), sum()
                             function application -- dataframe.apply() 

concept: create a purhase bill.

Here ,we are going to create a purhase bill of stationary items and predict total amount with and without GST.

Items|Price | Quantity| Amount| |
--|--|--|--|--|
pencil| 12| 7| 84|
pen| 35| 2| 70|
eraser| 5| 7|35
brush| 35| 1|35
Gross|224| GST | 11.2
Total amount:235.2

In [0]:
import pandas as pd
import numpy as np

creating a dataframe with "Items" and "price" as columns

In [0]:
data_items = {"Items":pd.Series(["pencil","pen","eraser"]),
             "Price":pd.Series([12,35,5])}
dataframe_items = pd.DataFrame(data_items)

adding

In [0]:
dataframe_items["Quantity"]= pd.Series([7,2,7])
dataframe_items["Amount"] = pd.Series([0,0,0])

adding one more row

In [0]:
data_row_add = {"Items":["brush"],"Price":[35],"Quantity":[1],"Amount":[0]}
dataframe_row_add = pd.DataFrame(data_row_add,index = [3])
dataframe_items = dataframe_items.append(dataframe_row_add)

getting the shape of rows

In [0]:
(n_items,counter) = dataframe_items.shape

In [0]:
array_amount = np.zeros(n_items)

In [0]:
count_items = dataframe_items.count()

retrieving the values of "Amount" column

In [0]:
for i in range(count_items[0]):
    x = values_items[i][1]
    y = values_items[i][2]
    array_amount[i] = x*y

In [0]:
series_amount = pd.Series(array_amount)

adding amount values

In [0]:
dataframe_items["Amount"] = pd.Series(array_amount)

In [0]:
total = dataframe_items.sum()

In [0]:
gst = dataframe_items.apply((np.sum))

In [169]:
print("Gross: ",total[3])
print("GST: ",gst[3] * 0.05)
print("Total amount: ",(total[3] + (gst[3] * 0.05)))
dataframe_items.head()

Gross:  224.0
GST:  11.200000000000001
Total amount:  235.2

    Items  Price  Quantity  Amount
0  pencil     12         7    84.0
1     pen     35         2    70.0
2  eraser      5         7    35.0
3   brush     35         1    35.0