<a href="https://colab.research.google.com/github/madhuselvaraj/workspace-python-pandas/blob/master/project3_student_ranking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project 3 - Student Ranking

**Heading**: Pandas

**Topics covered**: Reindexing -- rename() 
                                     Iterration -- iterrows()
                                     Sorting -- sort_values()

**concept**: predict names of top 3 ranked students
                        generate a list based on Marks

Here ,we are going to create astudents list with first 3 ranks and list of students based on their Marks

Students Name|Gender | Marks|
--|--|--|
aruna| F| 87
blob| M| 67
zara| F| 89
olivia| F| 84
cat|F| 99
tywin|M| 23
dragos|M| 45
minkin|M| 67
cersi|F| 54
felina|F| 45

Rank1: cat

Rank2: zara

Rank3: aruna

<------------------------------------>

students list in the rank order:

cat

zara

aruna

olivia

blob

minkin

cersi

dragos

felina

tywin

In [0]:
import pandas as pd
import numpy as np

create a dataframe of student details

In [0]:
students_data = {"name":pd.Series(["aruna","blob","zara","olivia","cat","tywin","dragos","minkin","cersi","felina"]),
                 "Gender":pd.Series(["F","M","F","F","F","M","M","M","F","F"]),
                  "marks":pd.Series([87,67,89,84,99,23,45,67,54,45])}
student_df = pd.DataFrame(students_data)

dataframe output

In [82]:
print(student_df)

     name Gender  marks
0   aruna      F     87
1    blob      M     67
2    zara      F     89
3  olivia      F     84
4     cat      F     99
5   tywin      M     23
6  dragos      M     45
7  minkin      M     67
8   cersi      F     54
9  felina      F     45

rename columns "name" as "Students Name" and "marks" as "Marks"

In [0]:
students_df = student_df.rename(columns = {"name":"Students Name","marks":"Marks"})

In [84]:
print(students_df)

  Students Name Gender  Marks
0         aruna      F     87
1          blob      M     67
2          zara      F     89
3        olivia      F     84
4           cat      F     99
5         tywin      M     23
6        dragos      M     45
7        minkin      M     67
8         cersi      F     54
9        felina      F     45

sort by marks

In [0]:
rank = students_df.sort_values(by ="Marks",ascending = False)

retrieve names of first three highest marks

In [0]:
Rank1 = rank.values[0][0]
Rank2 = rank.values[1][0]
Rank3 = rank.values[2][0]

iterrows() retrieve the students details and we can diplay the names of students according to their marks.

In [87]:
print(students_df)
print("Rank1:",Rank1)
print("Rank2:",Rank2)
print("Rank3:",Rank3)
print("<------------------------------------>")
print("students list in the rank order:")
for x,y in rank.iterrows():  
  print(y[0])

  Students Name Gender  Marks
0         aruna      F     87
1          blob      M     67
2          zara      F     89
3        olivia      F     84
4           cat      F     99
5         tywin      M     23
6        dragos      M     45
7        minkin      M     67
8         cersi      F     54
9        felina      F     45
Rank1: cat
Rank2: zara
Rank3: aruna
<------------------------------------>
students list in the rank order:
cat
zara
aruna
olivia
blob
minkin
cersi
dragos
felina
tywin