<a href="https://colab.research.google.com/github/madhuselvaraj/workspace-python-pandas/blob/master/Project5_worldcup_info.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PROJECT 5
**Heading**: Pandas

**Topics** covered:

**Groupby** ->groupby(),agg(),filter()

**concept**: retrieve the details of worlcup matches

In [0]:
import pandas as pd
import numpy as np

In [0]:
data_world_cup_details = {"Countries":pd.Series(["West Indies","Australia","West Indies","England","India","West Indies","Australia","England","Pakistan","England","Srilanka","Australia","Australia","Pakistan","Australia","India","Australia","Srilanka","India","Srilanka","Australia","New Zealand"]),
                    "Year":pd.Series([1975,1975,1979,1979,1983,1983,1987,1987,1992,1992,1996,1996,1999,1999,2003,2003,2007,2007,2011,2011,2015,2015]),
                    "Rank":pd.Series([1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2])}
df_world_cup_details = pd.DataFrame(data_world_cup_details)

In [9]:
print(df_world_cup_details)

      Countries  Year  Rank
0   West Indies  1975     1
1     Australia  1975     2
2   West Indies  1979     1
3       England  1979     2
4         India  1983     1
5   West Indies  1983     2
6     Australia  1987     1
7       England  1987     2
8      Pakistan  1992     1
9       England  1992     2
10     Srilanka  1996     1
11    Australia  1996     2
12    Australia  1999     1
13     Pakistan  1999     2
14    Australia  2003     1
15        India  2003     2
16    Australia  2007     1
17     Srilanka  2007     2
18        India  2011     1
19     Srilanka  2011     2
20    Australia  2015     1
21  New Zealand  2015     2

In [16]:
Rank = df_world_cup_details.groupby('Rank')
print("Detaila of winnerup and runnerup:")
for rank,details in Rank:
  print(rank)
  print(details)
  print("-----------------")

Detaila of winnerup and runnerup:
1
      Countries  Year  Rank
0   West Indies  1975     1
2   West Indies  1979     1
4         India  1983     1
6     Australia  1987     1
8      Pakistan  1992     1
10     Srilanka  1996     1
12    Australia  1999     1
14    Australia  2003     1
16    Australia  2007     1
18        India  2011     1
20    Australia  2015     1
-----------------
2
      Countries  Year  Rank
1     Australia  1975     2
3       England  1979     2
5   West Indies  1983     2
7       England  1987     2
9       England  1992     2
11    Australia  1996     2
13     Pakistan  1999     2
15        India  2003     2
17     Srilanka  2007     2
19     Srilanka  2011     2
21  New Zealand  2015     2
-----------------

In [20]:
Countries = df_world_cup_details.groupby(['Countries','Rank'])
print("Number of time a country pick the trophy:")
print(Countries.agg(np.size))

Number of time a country pick the trophy:
                  Year
Countries   Rank
Australia   1        5
            2        2
England     2        3
India       1        2
            2        1
New Zealand 2        1
Pakistan    1        1
            2        1
Srilanka    1        1
            2        2
West Indies 1        2
            2        1

In [29]:
print("Countries which participated in final more than once:")
print(Countries.filter(lambda x: len(x) >1))

Countries which participated in final more than once:
      Countries  Year  Rank
0   West Indies  1975     1
1     Australia  1975     2
2   West Indies  1979     1
3       England  1979     2
4         India  1983     1
6     Australia  1987     1
7       England  1987     2
9       England  1992     2
11    Australia  1996     2
12    Australia  1999     1
14    Australia  2003     1
16    Australia  2007     1
17     Srilanka  2007     2
18        India  2011     1
19     Srilanka  2011     2
20    Australia  2015     1