<a href="https://colab.research.google.com/github/madhuselvaraj/workspace-python-pandas/blob/master/project4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PROJECT 4
Heading: Pandas

Topics covered:


1.   Working with text data       ----->str.[islower(),lower(),replace(),count()]
2.   Indexing & Selecting data  ----->loc()
3.   statistical function              -----> rank()

concept: create an output of customer details and username.

|input: |output|
--------|-------|
|                         | Customer Details username|
0       arya@gmail.com | 0     arya@gmail.com  arya|
1    Bailesh@gmail.com| 1    Bailesh@gmail.com  bailesh|
2      CERSI@gmail.com| 2    cersi@gmail.com    cersi |
3     Danial@gmail.com| 3   danial@gmail.com   danial
4    Bailesh@gmail.com|4  bailesh@gmail.com  bailesh

In [0]:
import pandas as pd
import numpy as np

In [0]:
data_form_details = pd.Series(["arya@gmail.com","Bailesh@gmail.com","CERSI@gmail.com","Danial@gmail.com","Bailesh@gmail.com"])

In [7]:
print(data_form_details)

0       arya@gmail.com
1    Bailesh@gmail.com
2      CERSI@gmail.com
3     Danial@gmail.com
4    Bailesh@gmail.com
dtype: object

checking for lowercase letters

In [8]:
print(data_form_details.str.islower())

0     True
1    False
2    False
3    False
4    False
dtype: bool

changing to lowercase letters

In [0]:
data_form_details = data_form_details.str.lower()

In [20]:
print(data_form_details)

0       arya@gmail.com
1    bailesh@gmail.com
2      cersi@gmail.com
3     danial@gmail.com
4    bailesh@gmail.com
dtype: object

In [17]:
print(data_form_details.str.islower())

0    True
1    True
2    True
3    True
4    True
dtype: bool

creating user name from mail ids

In [0]:
data_user_details  = data_form_details.str.replace('@gmail.com','')

In [52]:
array_data_user_details = []
count = data_user_details.count()
for i in range(count):
  array_data_user_details.append(data_user_details[i])

['arya', 'bailesh', 'cersi', 'danial', 'bailesh']

In [0]:
dataframe_form_details = pd.DataFrame(data_form_details,columns = ['Customer Details'])

In [0]:
dataframe_form_details['username'] = pd.Series(array_data_user_details)

retrieving first three username

In [64]:
print(dataframe_form_details.loc[:2,'username'])

0       arya
1    bailesh
2      cersi
Name: username, dtype: object

ranking with a dataframe of duplicate name of indexes 1 & 4

In [81]:
print(dataframe_form_details.rank(method = 'max'))

   Customer Details  username
0               1.0       1.0
1               3.0       3.0
2               4.0       4.0
3               5.0       5.0
4               3.0       3.0

ranking without duplicate index a dataframe

In [82]:
print((dataframe_form_details.drop(4)).rank(method = 'max'))

   Customer Details  username
0               1.0       1.0
1               2.0       2.0
2               3.0       3.0
3               4.0       4.0

output

In [83]:
print(dataframe_form_details)

    Customer Details username
0     arya@gmail.com     arya
1  bailesh@gmail.com  bailesh
2    cersi@gmail.com    cersi
3   danial@gmail.com   danial
4  bailesh@gmail.com  bailesh